{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="page-signup">
            <div class="row">
                <div class="img-holder">
                    <div class="superbg"></div>
                    <div class="info-holder">
                        <img src="../../static/images/graphic1.svg" alt>
                    </div>
                </div>
                <div class="signup-form">
                    <div class="form-content">
                        <div class="form-items">
                            <h3>Logged in.</h3>
                            <p>{{ result }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}